@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import GoogleApis URLs here. */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap");

body {
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

.activeNav {
  visibility: visible;
  transition: all 0.5s;
}
.hiddenNav {
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(-100%);
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.perspective {
  -webkit-perspective: 1800px;
          perspective: 1800px;
}

.page {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform:rotateY(0deg);
          transform:rotateY(0deg);
}

.page.turn{
    -webkit-transform:rotateY(-180deg);
            transform:rotateY(-180deg);
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

#footerid:hover {
	border-color: red;
}

.preline {
  white-space: pre-line;
}

.font-size-30 {
  font-size: 50px !important;
}

.shadower {
  box-shadow: 0 0 10px #888888;
}