@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import GoogleApis URLs here. */
/* @import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap"); */

::-webkit-scrollbar {
  display: none;
}

.activeNav {
  visibility: visible;
  transition: all 0.5s;
}
.hiddenNav {
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(-100%);
}
